version: '3.8'

services:
  mongodb:
    image: mongo:7
    container_name: hydrobos-mongo
    ports:
      - "27017:27017"
    volumes:
      - hydrobos_mongo_data:/data/db
    environment:
      MONGO_INITDB_DATABASE: hydrobos
    restart: unless-stopped

volumes:
  hydrobos_mongo_data:
    driver: local
